.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header .logo img {
  height: 50px;
}

.App-header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}
